body{
}
.demonstration {
    text-align:center
}
.colblue {
    font-size: 100px;
    color: lavenderblush;
    background-color: blue;
}

.colred {
    font-size: 100px;
    color: lavenderblush;
    background-color: red;
}

.colblack {
    font-size: 100px;
    color: lavenderblush;
    background-color: black;
}
